*{
   // border: 1px red solid;
    text-align: center;
}



#logo{
    height:250px;
    margin: -30px;
    
}

.dishes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
    padding-top: 55px;
}



.dishes-container img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    gap:80px; 
    
}



