*{
   // border: 1px red solid;
    text-align: center;
}



#logo{
    height:250px;
    margin: -30px;
}




.dishes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
    
}



.dishes-container img{
    width: 400px;
    height: auto;
    padding-top: 55px;
    
}

.item img:hover{
    transform: scale(1.05);
}
